<style>
  html,
  body {
    height: 100%;
    background-color: white;
    font-family: 'Calibri';
  }

</style>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img src="images/startv.png" width="50" height="50">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="text-info">Iniciar sesión</a></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="col-md-12" ng-if="$ctrl.showvalidationform">
  <form class="login-form" angular-validator-submit="$ctrl.validar()" autocomplete="off" name="myForm" novalidate angular-validator>
    <h3 class="text-center text-primary"><b>Recupera tu contraseña</b></h3>
    <h3 class=" text-center">Ingresa la siguiente información para poder reestablecer tu contraseña</h3>
    <br>
    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">

      <div class="col-md-12">
        <label><b> Ingresa tu email</b></label>
        <input type="text" name="email" class="form-control" placeholder="Ingresa aquí el tu email" validate-on="dirty" required-message="'El email es es obligatorio.'"
          required ng-model="$ctrl.email">
      </div>
      <div class="col-md-12">
        <label><b> Ingresa la serie del aparato principal</b></label>
        <input name="serie" type="text" class="form-control" placeholder="Ingresa aquí el número de serie" validate-on="dirty" required-message="'La serie es obligatoria.'"
          required ng-model="$ctrl.serie">
      </div>
      <br>
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Si necesitas ayuda para saber la ubicación de la serie y el
          tipo de aparato puedes consultarla aquí
          <a href="#" class="alert-link">Ayuda</a>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button class="btn btn-warning " ng-click="$ctrl.confirmar()"> Aceptar</button>
      </div>
    </div>

  </form>
</div>

<div class="col-md--12" ng-if="$ctrl.showresetform">
   <div class="col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-4">
  <h3 class=" text-center">Proceso de reestablecimiento de  contraseña</h3>
  <form class="login-form" angular-validator-submit="$ctrl.reset()" autocomplete="off" name="myForm" novalidate angular-validator>
    <div class="alert alert-success" role="alert"><b>¡Correcto!</b> la validación se hizo correctamente,ahora puedes elegir una nueva contraseña y modificar tu correo
      con el que puedes accesar al sistema</div>
  </form>
   </div>
</div>

</div>



</div>
