<style>
  html,
  body {
    height: 100%;
    background-color: white;
  }

</style>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img src="images/startv.png" width="50" height="50">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="text-info">Iniciar sesión</a></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="col-md-12">
  <h3 class="text-center text-primary"><b>Crea tu cuenta de Star TV</b></h3>

  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <h3 class="" style="font-family: 'Roboto', sans-serif;"> Ingresa la serie del aparato principal (Internet,Television,Bundle) </h3>
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="Ingresa aqui el número de serie">
      <br>
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
         Si necesitas ayuda para saber la ubicación de la serie y el tipo de aparato puedes consultarla aquí
        <a href="#" class="alert-link">Ayuda</a>
      </div>
    </div>

    <div class="col-md-4">
      <button class="btn btn-warning "> Aceptar</button>
    </div>
  </div>

  <!--    <h5>Selecciona el servicio que tienes instalado</h5>

    <div class="col-md-6">
      <h1>Televisón Digital</h1>
    </div>

    <div class="col-md-6">
      <h1>Internet y Bundle</h1>
    </div>-->

</div>
<!-- <div class="col-md-3">
    <div class="thumbnail">
      <img src="images/Captura2.PNG" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>

  </div>



  <div class="col-md-3">
    <div class="thumbnail">
      <img src="images/Captura1.PNG" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>

  </div>-->
</div>
