<style>
  html,
  body {
    height: 100%;
    background-color: white;
    font-family: 'Calibri';
  }

</style>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img src="images/startv.png" width="50" height="35">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="text-info">Iniciar sesión</a></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="col-md-12" ng-if="$ctrl.showcapturaserie">
  <h3 class="text-center text-primary"><b>Crea tu cuenta de Star TV</b></h3>

  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <h4 class="text-center" style="font-family: 'Roboto', sans-serif;"> Ingresa la serie del aparato principal  </h4>
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="Ingresa aqui el número de serie" ng-model="$ctrl.serie">
      <br>
      <!-- <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Si necesitas ayuda para saber la ubicación de la serie y el
        tipo de aparato puedes consultarla aquí
        <a href="#" class="alert-link">Ayuda</a>
      </div>-->
    </div>

    <div class="col-md-4">
      <button class="btn btn-warning btn-block " ng-click="$ctrl.confirmar()"> Aceptar</button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <h3 class="text-primary text-center">Idenfica la serie de tu aparato</h3>
      <hr>
    </div>

    <div class="col-md-6 text-center">
      <img src="images/stb.jpg" width="400" height="300">
    </div>
    <div class="col-md-6 text-center">
      <img src="images/cablemodem.jpg" width="400" height="300">
    </div>




  </div>
</div>


<div class="col-md-12  " ng-if="$ctrl.showinfo">

  <div class="col-md-8 card col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="row" style="background:black; padding: 10px;">
      <div class="col-md-3">
        <img src="images/startvblack.svg" width="100" height="100">
      </div>
      <div class="col-md-9">
        <h3 style="color: white"><b>¡Bienvenido sus datos han sido validados! </b></h3>
      </div>
    </div>


    <div class="card-body">
      <form class="login-form" autocomplete="off" name="form" ng-submit="$ctrl.Registrar()">
        <div class="col-md-12">
          <div class="col-md-6" style="margin-top: 50px;">
            <h3><b>Cliente: {{$ctrl.user.Cliente}}</b></h3>
            <h4>No.Contrato: {{$ctrl.user.ContratoCompuesto}}</h4>
            <h3>No.serie: {{$ctrl.serie}}</h3>

          </div>
          <div class="col-md-6">
            <label class="text-muted text-center"><b>Ingresa el correo electrónico con el que accesarás a este sitio</b> </label>

            <div class="col-md-12">
              <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo electrónico" ng-model="$ctrl.email"
                required>
              <span class="text-danger" ng-show="!form.email.$valid"> ¡No es un correo valido!</span>
            </div>
            <div class="col-md-12">
              <input type="password" class="form-control" placeholder="Ingresa tu contraseña" pattern=".{6,}" name="password" ng-model="$ctrl.password">
              <span class="text-danger" ng-show="!form.password.$valid">la contraseña es obligatoria y tiene que tener un minimo de 6 caracteres</span>
            </div>
            <div class="col-md-12">
              <div class="form-group" ng-class="{ 'has-error': form.passwordvalidate.$invalid && !form.passwordvalidate.$pristine }">
                <label for="passwordvalidate">Confirma contraseña</label>
                <input type="password" class="form-control" placeholder="Valida tu contraseña" pattern=".{6,}" required match="$ctrl.password"
                  name="passwordvalidate" ng-model="$ctrl.passwordvalidate">
                <span class="text-danger" ng-if="$ctrl.password !== $ctrl.passwordvalidate" ng-show="form.passwordvalidate.$dirty"> La contraseña no coincide</span>
              </div>
            </div>
            <div class="col-md-12">

              <div vc-recaptcha theme="'light'" key="$ctrl.captcha.key" on-create="$ctrl.setWidgetId(widgetId)" on-success="$ctrl.setResponse(response)"
                on-expire="$ctrl.cbExpiration()"></div>
            </div>
            <br>
            <br>
            <div class="col-md-12">
              <button type="submit" class="btn btn-warning btn-block" ng-disabled="!form.$valid  ||  $ctrl.captcharesponse ==null"> Registrar </button>

            </div>
            <div class="col-md-12">
              <p class="help-block">Te enviaremos un correo a esta cuenta una vez finalizado el registro</p>
            </div>

          </div>
        </div>



      </form>



    </div>
    <div class="row">
      <div class="alert alert-warning text-center" role="alert">

        <h5>¿No reconoces esta información?,<a class="alert-link" href="#">Intenta ingresando otra serie</a></h5>
        <h6> Atención a clientes:01 800 700 STAR (7827)</h6>
      </div>

    </div>
  </div>



</div>


<!--    <h5>Selecciona el servicio que tienes instalado</h5>

    <div class="col-md-6">
      <h1>Televisón Digital</h1>
    </div>

    <div class="col-md-6">
      <h1>Internet y Bundle</h1>
    </div>-->


<!-- <div class="col-md-3">
    <div class="thumbnail">
      <img src="images/Captura2.PNG" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>

  </div>



  <div class="col-md-3">
    <div class="thumbnail">
      <img src="images/Captura1.PNG" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>

  </div>-->
</div>
